#root {
  text-align: center;
}

body{
  background-color:slategray;
  margin: 0;
}

.container {
  display: flex;
  height: 95vh; /* Make the container fill the viewport height */
}

/* SCROLL BAR? */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  max-width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 4px;
  background: #555; 
}


.book {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 80%;
  width: -10px;
  height: 100vh -10px;
}

.left,
.right,
.sidebar {
  flex: 1;
  width: 50%;
  padding: 10px;
  border-width: 10px;
  border-color: rgb(171, 130, 76);
  border-style: solid;
  overflow-y:auto;
}

.left,
.right {
  background-color:wheat;
}

.left {
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right-width: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
}

.right {
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left-width: 2px;
  align-items: flex-end;
  flex-flow: column;
}

.sidebar {
  flex: 1;
  width:20%;
  margin:10px;
  margin-left: 0;
  background-color: sienna;
  border-width: 15px;
  border-radius: 20px;
  border-style:double;
}

.headerbar {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: tan;
  height: 5vh;
}

a:not(.logtosign) {
  margin: 10px;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
}

.recipe{
  width: 100%;
}

.recipe-text {
  text-align: left;
}

.add-recipe,
  .sign-log {
    display: flex;
    flex-flow: column;
    background-color: wheat;
    border-color: rgb(171, 130, 76);
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    width: 50%;
  }

.add-recipe {
  overflow-y: auto ;
  height: 90% -10px;
  align-items:center;
  justify-content:baseline;
}

.directions{
  width:20em;
  height: 5em;
  margin: 2px;
}

.sign-log {
  display:flex;
  align-self: center;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height:50%
}

.sign-log div:not(.logtosign){
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%
}

div .logtosign{
  margin: 10px
}

.error {
  color: red;
}
